# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\neilinn\OneDrive - Tartu Ülikool\Dokumendid\2_Semester_2021\OOPi-projekt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
